<h2>Liste de recettes</h2>
<span *ngIf="nbRecette > 0">Actuellement {{ nbRecette }} recettes</span>
<table mat-table [dataSource]="recettes$" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let recette">
            <a mat-raised-button color="primary" routerLink="../recette/{{recette.id}}">{{recette.name}}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="spring">
        <th mat-header-cell *matHeaderCellDef>Printemps</th>
        <td mat-cell *matCellDef="let recette">
            <mat-checkbox [checked]=recette.spring></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="summer">
        <th mat-header-cell *matHeaderCellDef>Eté</th>
        <td mat-cell *matCellDef="let recette">
            <mat-checkbox [checked]=recette.summer></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="autumn">
        <th mat-header-cell *matHeaderCellDef>Automne</th>
        <td mat-cell *matCellDef="let recette">
            <mat-checkbox [checked]=recette.autumn></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="winter">
        <th mat-header-cell *matHeaderCellDef>Hiver</th>
        <td mat-cell *matCellDef="let recette">
            <mat-checkbox [checked]=recette.winter></mat-checkbox>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>